@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#F8F6F2;
font-family:'Inter',sans-serif;
color:#222;
overflow-x:hidden;
}

*{
box-sizing:border-box;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#7B5D42;
border-radius:50px;
}

::selection{
background:#7B5D42;
color:white;
}